ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

/* Write your CSS below, don't change the rules above. */
.red-text{
  color:red;
}
.green-text{
  color:green;
}
.blue-text{
  color:blue;
}
*{
  text-align: center
}